<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <span class="icon is-medium mr-2 has-text-primary">
        <i class="fas fa-rocket fa-lg"></i>
      </span>
      <b class="is-size-5">RDT-CLIENT</b>
    </a>

    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      [class.is-active]="showMobileMenu"
      (click)="showMobileMenu = !showMobileMenu"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" [class.is-active]="showMobileMenu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/">
        <span class="icon">
          <i class="fas fa-list" aria-hidden="true"></i>
        </span>
        <span>Queue</span>
      </a>
      <a class="navbar-item" routerLink="/settings">
        <span class="icon">
          <i class="fas fa-cog" aria-hidden="true"></i>
        </span>
        <span>Settings</span>
      </a>
    </div>

    <div class="navbar-end">
      <a class="navbar-item add-button-nav" routerLink="/add" [queryParams]="{ type: 'item' }">
        <span class="icon has-text-white">
          <i class="fas fa-plus-circle"></i>
        </span>
        <span class="has-text-white">ADD</span>
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <span class="navbar-link"> Account </span>

        <div class="navbar-dropdown is-right">
          <a class="navbar-item" routerLink="profile"> Profile </a>
          <a class="navbar-item" (click)="logout()"> Logout </a>
          <hr class="navbar-divider" />
          <a href="https://github.com/rogerfar/rdt-client" target="_blank" class="navbar-item">Version {{ version }}</a>
        </div>
      </div>
    </div>
  </div>
</nav>

@if (
  profile &&
  (!profile.disableUpdateNotification || profile.isInsecure) &&
  profile.latestVersion &&
  profile.currentVersion !== profile.latestVersion
) {
  <div class="notification" [ngClass]="profile.isInsecure ? 'is-danger' : 'is-warning'">
    @if (profile.isInsecure) {
      <span> Your current version is insecure. </span>
    }
    <span>
      Version {{ profile.latestVersion }} of RealDebrid Client was found. You are currently on version
      {{ profile.currentVersion }}.
    </span>
  </div>
}
