@use 'sass:math';

$chevron-size: 0.25rem;

table {
  th {
    white-space: nowrap;
    user-select: none;
    cursor: pointer;

    &.sort-active {
      &::before {
        content: '';
        display: inline-block;
        width: $chevron-size;
        height: $chevron-size;
        margin-right: $chevron-size;
        border: $chevron-size solid transparent;
        border-bottom-color: #777;
        transform: translateY(-#{math.div($chevron-size, 2)});
      }
    }

    &.sort-descending {
      &::before {
        border-bottom-color: transparent;
        border-top-color: #777;
        transform: translateY(#{math.div($chevron-size, 2)});
      }
    }
  }

  tr {
    cursor: pointer;
    td.break-all {
      word-break: break-all;
    }
  }
    // Make table horizontally scrollable on small screens
    @media screen and (max-width: 768px) {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
}

.flex-container {
  display: flex;
  flex: 1 1 0;
  gap: 20px;
  flex-direction: row;

  @media screen and (max-width: 1279px) {
    flex-direction: column;
  }
}
